<div id="clock">
  <div id="nmb1" class="numbers">
    <span>1</span>
  </div>
  <div id="nmb2" class="numbers">
    <span>2</span>
  </div>
  <div id="nmb3" class="numbers">
    <span>3</span>
  </div>
  <div id="nmb4" class="numbers">
    <span>4</span>
  </div>
  <div id="nmb5" class="numbers">
    <span>5</span>
  </div>
  <div id="nmb6" class="numbers">
    <span>6</span>
  </div>
  <div id="nmb7" class="numbers">
    <span>7</span>
  </div>
  <div id="nmb8" class="numbers">
    <span>8</span>
  </div>
  <div id="nmb9" class="numbers">
    <span>9</span>
  </div>
  <div id="nmb10" class="numbers">
    <span>10</span>
  </div>
  <div id="nmb11" class="numbers">
    <span>11</span>
  </div>
  <div id="nmb12" class="numbers">
    <span>12</span>
  </div>
  <div id="clock-center">
    <div id="minute-hand" [ngStyle]="minuteRotate"></div>
    <div id="hour-hand" [ngStyle]="hourRotate"></div>
    <div id="second" [ngStyle]="secondRotate"></div>
  </div>

</div>